/* HEADER */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

.impulso-navbar {
    background: linear-gradient(to right, #00A6D1, #78E3FF);
    position: relative;
    padding: 40px 10px 40px 10px;
    align-items: center;
    justify-content: center;
    transition: padding 0.3s ease;
}

.impulso-navbar.scrolled {
    padding: 10px 10px 10px 10px;
}

.impulso-logo-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 10;
    transition: all 0.3s ease;
}

.impulso-logo-container.scrolled {
    top: 50%;
    transform: translate(-50%, -50%);
}

.impulso-logo {
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    transition: height 0.3s ease;
}

.img-pinya {
    height: 70px;
    transition: opacity 0.3s ease;
}

.img-pinya-2 {
    height: 70px;
    transform: scaleX(-1);
    transition: opacity 0.3s ease;
}

.img-pinya.scrolled,
.img-pinya-2.scrolled {
    opacity: 0;
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    color: white;
    font-style: normal;
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover {
    font-weight: bolder;
    color: var(--limon);
    transform: scale(1.15);
    transition: transform 0.3s ease;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.navbar-nav .nav-link.active {
    font-weight: bolder;
    color: white;
    transform: scale(1.15);
    transition: transform 0.3s ease;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

/* Espaciado para compensar el header fijo */
.content-spacer {
    height: 230px;
    /* Altura del header normal */
}

/* Contenido de ejemplo */
.content-section {
    padding: 50px 20px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.content-section:nth-child(even) {
    background-color: #e9ecef;
}