/* MAIN CONTENT */

.tres-columnas {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1.5rem;
  padding: 3rem;
  align-items: center;
}

.columna-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.contenedor {
  background-color: #fcf7c7;
  border-radius: 15px;
  padding: 2rem;
}

.ciencia {
  background-color: #f7d1f0;
  border-radius: 15px;
  margin: 3rem;
  padding: 2rem;
}

h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 1.5rem;
}

footer {
  padding: 3rem 2rem;
  text-align: center;
  background-color: #f2f2f2;
}

.final {
  font-size: 18px;
  color: #599ba4;
}

@media (max-width: 768px) {
  .tres-columnas {
    grid-template-columns: 1fr;
  }

  nav {
    justify-content: center;
    flex-wrap: wrap;
  }

  .ciencia,
  .contenedor {
    margin: 1rem;
  }
}