@font-face {
  font-family: 'Chimfly';
  src: url('../fonts/Chimfly.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
    --frutos-rojos: #E23A4D;
    --pina-colada: #00B7E6;
    --te-verde: #50C878;
    --texto: #1A3E2B;
    --limon: #FFE32B;
    --background-color: #FFF3E6;
}