/* HEADER */
.impulso-navbar {
    background: linear-gradient(to right, #00A6D1, #78E3FF);
    position: relative;
    padding: 40px 10px 40px 10px;
    align-items: center;
    justify-content: center;
}

.impulso-logo-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 10;
}

.impulso-logo {
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
}

.img-pinya {
    height: 70px;
}

.img-pinya-2 {
    height: 70px;
    transform: scaleX(-1);
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    color: white;
    font-style: normal;
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover {
    font-weight: bolder;
    color: var(--limon);
    transform: scale(1.15);
    transition: transform 0.3s ease;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.navbar-nav .nav-link.active {
    font-weight: bolder;
    color: white;
    transform: scale(1.15);
    transition: transform 0.3s ease;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

/* HERO */
#hero-section {
    background-image: url('../images/img-hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-height: 538px; */
    height: 100vh;
    width: 100%;
}

.hero-cta {
    left: 0;
    top: 0;
    width: 50vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.hero-title {
    font-size: 5rem;
    font-weight: bold;
    padding: 60px 20px;
    color: #E23A4D;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.btn-cta {
    padding: 10px 20px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    width: 320px;
    height: 83px;
    font-size: 1.2rem;
    line-height: 1.1;
    background-color: var(--frutos-rojos);
    color: white;
    font-family: 'Lunchtype21', sans-serif;
    transition: transform 0.3s ease-in-out;
}

.btn-cta:hover {
    transform: scale(1.08);
}

/* FORMATS SECTION */

/* COLORES TXT  */
.txtFrutos {
    color: var(--frutos-rojos);
}

.txtLimon {
    color: var(--limon);
}

.txtTe {
    color: var(--te-verde);
}

.txtPina {
    color: var(--pina-colada);
}

/* COLORES FONDOS SOLIDOS */
.botonFrutos {
    background-color: var(--frutos-rojos);
}

.botonTe {
    background-color: var(--te-verde);
}

.botonJengi {
    background-color: var(--limon);
}

.botonPina {
    background-color: var(--pina-colada);
}

.botonFrutos:hover {
    background-color: rgb(150, 0, 0);
}

.botonTe:hover {
    background-color: green;
}

.botonJengi:hover {
    background-color: #ddc000;
}

.botonPina:hover {
    background-color: rgb(0, 82, 206);
}

/* COLORES GRADIENTES */
.packBebidas {
    background-image: var(--gradient-pinaColada);
}

.saborJengi {
    background-image: var(--gradient-jengibre);
}

.saborFrutos {
    background-image: var(--gradient-frutosRojos);
}

.saborTe {
    background-image: var(--gradient-teVerde);
}

.saborPina {
    background-image: var(--gradient-pinaColada);
}

/* -------------------------- */
body,
header,
main,
footer {
    margin: 0;
    padding: 0;
}

/* FORMATOS */

.formatos-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 30px 20px;
}

/* FORMATOS DE LOS TITULOSFORMATOS */
.titulosFormato-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: auto;
    color: var(--frutos-rojos);
    font-weight: bold;
    padding: 20px;
    font-family: 'Chimfly', sans-serif;
}

h3 {
    font-size: 3rem;
}

.tituloActivo {
    background-color: var(--frutos-rojos);
    display: flex;
    color: white;
    border-radius: 16px;
    padding: 6px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tituloActivo:hover {
    color: white;
}

#bestSeller:hover {
    color: var(--pina-colada);
    cursor: pointer;
}

#botellaPeque:hover {
    color: var(--pina-colada);
    cursor: pointer;
}

#botellaGrande:hover {
    color: var(--pina-colada);
    cursor: pointer;
}

#botellaShot:hover {
    color: var(--pina-colada);
    cursor: pointer;
}

/* FORMATOS DE LAS TARJETAS */
.tarjetaContainer {
    display: flex;
    height: 100%;
    gap: 60px;
    margin: auto;
    max-width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.tarjetaFormato {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--texto);
    border-radius: 16px;
    align-items: center;
    padding: 7px;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}

.tarjetaFormato:hover {
    transform: scale(1.05);
}

.tarjetaFormato img {
    height: 100%;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    justify-content: center;
}

.conenedorImagen {
    height: 30px;
    width: 30px;
}

.tarjetaHeader {
    background-color: white;
    border-radius: 16px;
    text-align: start;
    font-family: 'Chimfly', sans-serif;

    span {
        font-size: 0.5rem;
        margin-top: 0;
        padding-top: 0;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
    }

    h5 {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
    }
}

.tarjetaHeader-body {
    padding-left: 5px;
}

/* BOTON tarjeta */
.botonTarjeta {
    width: 90%;
    color: white;
    text-decoration: none;
    border-radius: 16px;
    justify-content: center;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3px;
}

/* Para ocultarse cuando no esta activo */
.seccion-botellas {
    display: none;
}

/* SECTION INFO */

#section-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 80px 0;
    background: linear-gradient(135deg, #FFFACB, #AEFFC6);
}

.article-info-home {
    border: 4px dashed #00B7E6;
    border-radius: 28px;
    padding: 40px 60px;
    color: var(--texto);
    background-color: var(--background-color);
    width: 90vw;
    transition: transform 0.3s ease;
}

.article-info-home:hover {
    transform: scale(1.02);

}

.article-title {
    font-family: 'Chimfly', sans-serif;
    margin-top: 5px;
    font-size: 48px;
}

.article-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin: 40px 0;
}

.article-content-text {
    padding: 0 40px;
}

.img-article-info {
    margin-top: -80px;
    width: 200px;
    border-radius: 10px;

}

/* RESPONSIVE */

/* Responsive navbar */
@media (max-width: 992px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: left;
    }

    .formatos-sabores-salud {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 100%;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 100%;
    }

    .contacto-lick {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 100%;
    }

    .img-pinya {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 10vw;
    }

    .img-pinya-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 10vw;
    }
}