#section {
    position: relative;
    display: inline-block;
}

h1 {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    padding: 120px 20px;
    color: #E23A4D;
    top: 50%;
    left: 56%;
    transform: translate(-150%, -130%);
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -150%);
    padding: 10px 20px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    width: 320px;
    height: 83px;
    font-size: medium;
    background-color: #E23A4D;
    color: white;
}

img {
    display: block;
    width: 100%;
    height: auto;
}